.headerText {
  p + p {
    text-indent: 2rem;
  }
}

.burger {
  width: 1.6rem;
  height: 1.2rem;
  transform: translateY(-0.2rem);
}

.x {
  width: 1.3rem;
  height: 1.3rem;
  transform: translateY(-0.2rem);
}

.applyButton {
  transition: color 0.2s ease;
}

.headerBox {
  left: 1rem;
  right: 1rem;
  @include mediaQuery(sm) {
    z-index: 60;
  }
}

.mobileHeaderCol {
  @include mediaQuery(sm) {
    padding-left: 0;
    padding-right: 0;
    &:hover {
      color: color(white);
    }
  }
}

.menuButton {
  @include mediaQuery(sm) {
    padding-top: 1.3rem;
    padding-bottom: 1rem;
  }
}
