.headerText {
  p + p {
    text-indent: 2rem;
  }
}

.menuButton {
  border-bottom-style: solid;
}

.applyButton {
  transition: color 0.2s ease;
}

.headerBox {
  left: 1rem;
  right: 1rem;
  transition: transform 0.2s ease;
  &Hidden {
    @include mediaQuery(sm) {
      transform: translateY(calc(-100% - 1px));
    }
  }
}
