.closeButton {
  right: 1rem;
  top: 1rem;
  width: 3.81rem;
  height: 3.84rem;
  @include mediaQuery(sm) {
    width: 1.3rem;
    height: 1.3rem;
  }
}

.privacy {
  transition: transform 500ms ease-in;
  transform: translateX(100%);
  z-index: 100;
  &Open {
    transform: none;
    transition: transform 500ms ease-out;
  }
  &Content {
    * + * {
      margin-top: 1.776rem;
    }
  }
  @include mediaQuery(sm) {
    &Filler {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      width: calc(1 / 12 * 100%);
    }
    &Box {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      width: calc(11 / 12 * 100%);
    }
  }
}
