$ff-red-20-bold: 'Redaction20', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$ff-red-reg: 'Redaction', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

$screens: (
  sm: 600,
);

$style-system-screens: (sm);

$font-styles: (
  s1: (
    font-family: $ff-red-reg,
    font-size: 1.6rem,
    line-height: 1.11,
  ),
  s2: (
    font-family: $ff-red-reg,
    font-size: 1.6rem,
    line-height: 1,
    text-transform: uppercase,
  ),
  m: (
    font-family: $ff-red-reg,
    font-size: 2.4rem,
    line-height: 1.09,
  ),
  l1: (
    font-family: $ff-red-reg,
    font-size: 3.2rem,
    line-height: 1.03,
    text-transform: uppercase,
  ),
  l2: (
    font-family: $ff-red-reg,
    font-size: 3.2rem,
    line-height: 1.09,
  ),
  xl: (
    font-family: $ff-red-reg,
    font-size: 5rem,
    line-height: 1,
    text-transform: uppercase,
  ),
  xl2: (
    font-family: $ff-red-reg,
    font-size: 5rem,
    line-height: 1.09,
    text-transform: uppercase,
  ),
  xl3: (
    font-family: $ff-red-reg,
    font-size: 6rem,
    line-height: 1,
    text-transform: uppercase,
  ),
  xxl: (
    font-family: $ff-red-20-bold,
    font-size: 11rem,
    line-height: 0.9,
    text-transform: uppercase,
  ),
  xxxl: (
    font-family: $ff-red-20-bold,
    font-size: 15rem,
    line-height: 0.9,
    text-transform: uppercase,
  ),
);

// дублируется в tailwind.config.js
$colors: (
  black: (
    base: #1b1b1b,
  ),
  white: (
    base: #fff,
  ),
  purple: (
    base: #855aff,
  ),
);

$color-primary: map_get(map_get($colors, black), base);
$color-secondary: map_get(map_get($colors, white), base);
