.grid {
  display: flex;
  align-items: flex-start;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.grid-s {
  display: flex;
  align-items: flex-start;
  margin-left: -0.5rem;
}

.col-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(1 / 24 * 100%);
}
.col-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(2 / 24 * 100%);
}
.col-3 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(3 / 24 * 100%);
}
.col-4 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(4 / 24 * 100%);
}
.col-5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(5 / 24 * 100%);
}
.col-6 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(6 / 24 * 100%);
}
.col-7 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(7 / 24 * 100%);
}
.col-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(8 / 24 * 100%);
}
.col-9 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(9 / 24 * 100%);
}
.col-10 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(10 / 24 * 100%);
}
.col-11 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(11 / 24 * 100%);
}
.col-12 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(12 / 24 * 100%);
}
.col-13 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(13 / 24 * 100%);
}
.col-14 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(14 / 24 * 100%);
}
.col-15 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(15 / 24 * 100%);
}
.col-16 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(16 / 24 * 100%);
}
.col-17 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(17 / 24 * 100%);
}
.col-18 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(18 / 24 * 100%);
}
.col-19 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(19 / 24 * 100%);
}
.col-20 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(20 / 24 * 100%);
}
.col-21 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(21 / 24 * 100%);
}
.col-22 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(22 / 24 * 100%);
}
.col-23 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(23 / 24 * 100%);
}
.col-24 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(24 / 24 * 100%);
}

.col-1-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(1 / 23 * 100%);
}
.col-2-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(2 / 23 * 100%);
}
.col-3-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(3 / 23 * 100%);
}
.col-4-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(4 / 23 * 100%);
}
.col-5-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(5 / 23 * 100%);
}
.col-6-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(6 / 23 * 100%);
}
.col-7-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(7 / 23 * 100%);
}
.col-8-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(8 / 23 * 100%);
}
.col-9-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(9 / 23 * 100%);
}
.col-10-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(10 / 23 * 100%);
}
.col-11-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(11 / 23 * 100%);
}
.col-12-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(12 / 23 * 100%);
}
.col-13-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(13 / 23 * 100%);
}
.col-14-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(14 / 23 * 100%);
}
.col-15-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(15 / 23 * 100%);
}
.col-16-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(16 / 23 * 100%);
}
.col-17-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(17 / 23 * 100%);
}
.col-18-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(18 / 23 * 100%);
}
.col-19-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(19 / 23 * 100%);
}
.col-20-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(20 / 23 * 100%);
}
.col-21-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(21 / 23 * 100%);
}
.col-22-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(22 / 23 * 100%);
}
.col-23-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(23 / 23 * 100%);
}

.col-1-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(1 / 20 * 100%);
}
.col-2-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(2 / 20 * 100%);
}
.col-3-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(3 / 20 * 100%);
}
.col-4-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(4 / 20 * 100%);
}
.col-5-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(5 / 20 * 100%);
}
.col-6-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(6 / 20 * 100%);
}
.col-7-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(7 / 20 * 100%);
}
.col-8-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(8 / 20 * 100%);
}
.col-9-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(9 / 20 * 100%);
}
.col-10-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(10 / 20 * 100%);
}
.col-11-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(11 / 20 * 100%);
}
.col-12-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(12 / 20 * 100%);
}
.col-13-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(13 / 20 * 100%);
}
.col-14-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(14 / 20 * 100%);
}
.col-15-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(15 / 20 * 100%);
}
.col-16-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(16 / 20 * 100%);
}
.col-17-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(17 / 20 * 100%);
}
.col-18-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(18 / 20 * 100%);
}
.col-19-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(19 / 20 * 100%);
}
.col-20-l {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(20 / 20 * 100%);
}

@include mediaQuery(sm) {
  .sm\:col-1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: calc(1 / 6 * 100%);
  }
  .sm\:col-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: calc(2 / 6 * 100%);
  }
  .sm\:col-3 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: calc(3 / 6 * 100%);
  }
  .sm\:col-4 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: calc(4 / 6 * 100%);
  }
  .sm\:col-5 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: calc(5 / 6 * 100%);
  }
  .sm\:col-6 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: calc(6 / 6 * 100%);
  }
}
