.secondPhase em {
  font-style: normal;
  color: color(purple);
}

.anchorTarget {
  position: absolute;
  top: -1rem;
  visibility: hidden;
}

.applyButton {
  transition: background-color 0.3s ease-out;
}
