.keywords {
  height: 32vw;
}

@keyframes keyword-anim {
  to {
    transform: translateY(calc(100% / -3));
  }
}

.keywordsInner {
  animation: keyword-anim 5s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}
