.lemBio {
  p + p {
    text-indent: 4rem;
  }
}

.seminarBox {
  position: relative;
  height: 0;
  padding-top: 100%;
  transition: background-color 0.3s ease-out;
  &:hover {
    transition: background-color 0.3s ease-in;
  }
}

.leader {
  transition: color 0.2s ease;
  &Bio {
    width: calc(10 / 24 * 100vw);
    top: 1rem;
    bottom: 1rem;
    transition: opacity 0.3s ease-out;
  }
}

.leaderPhotoOverlay {
  background-color: color(purple);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.leader:hover {
  .leaderPhotoOverlay {
    opacity: 1;
  }
}

.secondPhase em {
  font-style: normal;
  color: color(purple);
}

.columnText {
  p + p {
    margin-top: 1.76rem;
  }

  a {
    transition: color 0.2s ease;
  }

  a:hover {
    color: color(purple);
  }
}

.credits {
  padding-right: 12rem;
}

.logos {
  width: 29.8rem;
  height: 4.3rem;
  background-image: url(/logos.svg);
  background-size: cover;
  background-position: center;
}

.anchorTarget {
  position: absolute;
  top: -1rem;
  visibility: hidden;
}

.applyButton {
  transition: background-color 0.3s ease-out;
}

.learnMore {
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.seminarBox:hover .learnMore {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.footer {
  margin-bottom: 100vh;
}

.closeButton {
  width: 1.4rem;
  height: 1.7rem;
}

.privacyButton {
  transition: color 0.2s ease;
  text-decoration: underline;
}

.follow {
  a {
    text-decoration: none !important;
  }
}
