.keywords {
  height: 32vw;
  @include mediaQuery(sm) {
    height: 56vw;
  }
}

.keyword {
  // transition: color 0.2s ease;
}

@keyframes keyword-anim {
  to {
    transform: translateY(calc(100% / -3));
  }
}

.keywordsInner {
  animation: keyword-anim 10s linear infinite;
  @include mediaQuery(sm) {
    animation: keyword-anim 20s linear infinite;
  }
  &:hover,
  &Paused {
    animation-play-state: paused;
  }
}
