.keywords {
  height: 32vw;
}

.keyword {
  transition: color 0.2s ease;
}

@keyframes keyword-anim {
  to {
    transform: translateY(calc(100% / -3));
  }
}

.keywordsInner {
  animation: keyword-anim 5s linear infinite;
  &:hover,
  &Paused {
    animation-play-state: paused;
  }
}
