.leader {
  transition: color 0.2s ease;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: calc(5 / 20 * 100%);
  @include mediaQuery(sm) {
    width: 100%;
  }

  &BioRight {
    right: 0.9rem;
    @include mediaQuery(sm) {
      left: 0;
      right: auto;
    }
  }

  &BioLeft {
    left: 25rem;
    @include mediaQuery(sm) {
      left: 0;
    }
  }

  &Bio {
    width: calc(10 / 24 * 100vw - 1.4rem);
    top: 1rem;
    bottom: 1rem;
    transform: translateX(-1px);
    -webkit-overflow-scrolling: touch;
    z-index: 70;
    &Box {
      z-index: 60;
      background: rgba(0, 0, 0, 0.5);
      transition: opacity 0.3s ease-out;
    }
    &Text {
      p:not(:first-child) {
        text-indent: 3rem;
      }
    }
    &More {
      transition: color 0.2s ease;
    }
    @include mediaQuery(sm) {
      top: -1px;
      bottom: -1px;
      width: 100%;
      transform: none;
    }
  }
  &:hover {
    color: color(purple);
    @include mediaQuery(sm) {
      color: color(white);
    }
  }
}

.leaderPhotoOverlay {
  background-color: color(purple);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.overlay:hover {
  .leaderPhotoOverlay {
    opacity: 1;
    @include mediaQuery(sm) {
      opacity: 0;
    }
  }
}

.closeButton {
  width: 1.4rem;
  height: 1.7rem;
  @include mediaQuery(sm) {
    width: 1.2rem;
    height: 1.2rem;
  }
}
