.closeButton {
  right: 1rem;
  top: 1rem;
  width: 3.81rem;
  height: 3.84rem;
}

.seminar {
  transition: transform 500ms ease-in;
  transform: translateX(100%);
  z-index: 100;
  &Open {
    transform: none;
    transition: transform 500ms ease-out;
  }
}

.wysiwyg {
  p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: calc(14 / 24 * 100%);
    margin-left: calc(3 / 24 * 100% + 0.5rem);
  }

  div.withFigure {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: calc(19 / 24 * 100%);
    margin-left: calc(2 / 24 * 100% + 0.5rem);
  }

  figure {
    img {
      filter: grayscale(100%);
    }
  }

  figcaption {
    color: color(purple);
    @include font-style(s1);
    margin-top: 1rem;
  }

  & > * + * {
    margin-top: 2rem;
  }
}

.applyButton {
  transition: background-color 0.3s ease-out;
}
