.menu {
  left: 1rem;
  width: 22.8rem;
  transition: opacity 0.3s ease-out;
  top: 3rem;
  &Item {
    transition: color 0.2s ease-out;
    border-color: transparent;
    @include mediaQuery(sm) {
      border-color: white;
      padding: 1.3rem 0 1rem;
    }
  }

  @include mediaQuery(sm) {
    width: 100vw;
    left: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    &Open {
      transform: none;
    }
  }
}

.applyButton {
  transition: background-color 0.3s ease-out;
  @include mediaQuery(sm) {
    left: 50%;
    transform: translate(-50%, -1rem);
    width: calc(100% - 2rem);
  }
}
